<%- include('../partials/header') %>
    <table class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Division</th>
            </tr>
        </thead>
        <tbody>
            <% if (teams.length) { %>
                <% teams.forEach(function(team){ %>
                    <tr>
                        <td><%= team.teamName %></td>
                        <td><%= team.skillLevel %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="2">No Teams Yet</td>
                </tr>
            <% }%>
        </tbody>
    </table>
<%- include('../partials/footer') %>