<%- include('./partials/header') %>

<section class="accolades-container">
    <img id="logo" src="https://i.imgur.com/43jHfgg.png" alt="Tourney Logo">
    <div class="accolades">
        <div class="accolade">
            <i class="fa-solid fa-ranking-star"></i>
            <p>#1 Rated App</p>
        </div>
        <div class="accolade">
            <i class="fa-solid fa-people-group"></i>
            <p>10,000+ Teams Registered</p>
        </div>
        <div class="accolade">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Events Year Round</p>
        </div>
    </div>
</section>
<section class="sign-up">
    <a href="/users/new">Sign Up</a>
</section>

<%- include('./partials/footer') %>
