<%- include('./partials/header') %>

<section class="accolades-container">
    <img id="logo" src="https://i.imgur.com/43jHfgg.png" alt="Tourney Logo">
    <div class="accolades">
        <div class="accolade">
            <i class="fa-solid fa-ranking-star"></i>
            <p>#1 Rated App</p>
        </div>
        <div class="accolade">
            <i class="fa-solid fa-people-group"></i>
            <p>10,000+ Teams Registered</p>
        </div>
        <div class="accolade">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Events Year Round</p>
        </div>
    </div>
</section>
<section class="sign-up">
    <a href="/teams/new">Sign Up</a>
</section>
<section class="features">
    <h2>Why Us?</h2>
    <div class="feature">
        <div>
            <h5>Is it Legal?</h5>
            <p>We are a non-drug testing association, however athletes are expected to follow
            the laws of whatever area they compete in.</p>
        </div>
        <i class="fa-solid fa-cannabis"></i>
    </div>
    <div class="feature">
        <div>
            <h5>Your Time is Money</h5>
            <p>All events and venues adhere to a strict and accurate schedule. Teams will get 
            part of their registration fee refunded for any game 10 or more minutes late.</p>
        </div>
        <i class="fa-solid fa-hourglass-start"></i>
    </div>
    <div class="feature">
        <div>
            <h5>To the Victor Goes the Spoils</h5>
            <p>The champion of each division recieves a prize, proportional to the division each 
            respective champion is in</p>
        </div>
        <i class="fa-solid fa-trophy"></i>
    </div>
    <div class="feature">
        <div>
            <h5>Fitness on us</h5>
            <p>Members get access to the fitness facilities of our partnered venues 
            for the duration of the tournament they are entered in.</p>
        </div>
        <i class="fa-solid fa-dumbbell"></i>
    </div>
</section>

<%- include('./partials/footer') %>
