* {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* background-color: #291F1E; */
  width: 100vw;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

nav a:hover {
  color: #FFFFFF;
}

i {
  font-size: 6vmin;
  color: #00B7FF;
  padding: 1vmin;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font: 1.8vmin "ubuntu";
  background-color: #291F1E;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.navbar img {
  height: 3vmin;
}

.accolades-container {
  height: 55vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url('../images/AccoladesBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: #FF9500;
  background-blend-mode: hard-light;
  color: #FFFFFF;
}

.about-container{
  height: 55vh;
  width: 100vw;
  background-color: #00B7FF;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sign-up {
  height: 70px;
  background-color: #4a5759;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up a {
  color: #FF9500;
  padding: 10px;
  border-radius: 15%;
  border: #FF9500 solid 2px;
}

.sign-up a:hover {
  text-decoration: none;
  background-color: #FF9500;
  color: #4a5759;
}

.accolades {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 4vh;
  margin-top: 0;
}

.accolade {
  margin-top: 20vmin;
}

.accolade p {
  font-size: 2vmin;
  text-shadow: 1px 1px 2px #00B7FF;
}

#logo {
  margin-top: 4vh;
  width: 50vw;
}

.table-header {
  text-align: center;
  background-color: #FF9500;
  border: none;
}

footer {
  display: grid;
  grid-template-rows:1fr 9fr;
  grid-template-columns: 1fr 1fr;  
  background-color: #291F1E;
  justify-items: center; 
  height: 15vh;
}

footer h5 {
  margin-top: 1.5vh;
  color: #00B7FF;
}

#GA {
  margin-top: -2vh;
}

.fh {
  margin-bottom: 2vh;
}

footer>div {
  height: 12vh;
  align-self: center;
  justify-self: center;
}

#GA, .contact {
  /* height: 20vmin; */
  font-size: 5vmin;
  max-height: 80%;
}

.features {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  width: 100vw;
  height: 55vh;
  background-color: #FFFFFF;
  text-align: center;
  color: #4a5759;
}

.features>h2 {
  grid-column: 1/3;
}

.features i {
  color: #4a5759;
  font-size: 8vmin;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.feature {
  margin: 0;
  display: flex;
  align-items: center;
}

.feature > .description {
  width: 50%;
  font-size: 1.5vmin;
  text-align: left;
  justify-self: start;
  align-self: flex-start;
}

.add-team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container {
  background-color: #FFFFFF;
  height: 55vh;
  display: grid;
  justify-items: center;
}

.form-group {
  margin-left: 2vw;
  margin-right: 2vw;
}

.btn {
  background-color: #FF9500;
  color: #4a5759;
}

h2 {
  text-align: center;
  height: 10vh;
  background-color: #00B7FF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}